<div class="container">
<h1 align="center" class="display-4 ">Users</h1>

<div class="container py-3" align="center ">
    Search <input class="search" type = "text" name="search" [(ngModel)]="searchText" placeholder ="Enter Some Text To Search" />
  </div>
<table id="table" class="table table-striped text-center" style="width:100%;">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of page?.content | filter:searchText">

        <td class="align-middle">{{user.email}}</td>
        <td class="align-middle">{{user.name}}</td>
        <td class="align-middle">{{user.role}}</td>
        <td class="align-middle">
            <button  *ngIf="user.role=='ROLE_CUSTOMER'" (click)=allowdiscount(user.email)  class="btn btn-success mx-5">Allow discount</button>
            <button  *ngIf="user.role=='ROLE_CUSTOMER'" (click)=addAdmin(user.email)  class="btn btn-success">Add Admin</button>
            <button  *ngIf="user.role=='ROLE_MANAGER'" (click)=removeAdmin(user.email)  class="btn btn-success">Remove Admin</button>
            <button  *ngIf="user.role=='ROLE_CUSTOMER'" (click)=removeuser(user.email)  class="btn btn-success mx-5">Remove User</button>
        </td>

    </tbody>
</table>
<app-pagination [currentPage]="page"></app-pagination>
</div>
