@import "~bootstrap/dist/css/bootstrap.min.css";
body {
    background-color: #FEFBF6;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #13c613;
}

.ng-touched.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}
